.markdown-body {
    margin-top: 170px;
}

.tab-content {
    margin-left: 3px;
    margin-top: 8px;
    margin-right: 3px;
    margin-bottom: 24px;
}

mat-expansion-panel {
    margin-right: 5px !important;
    margin-left: 5px !important;
}