h1 {
    font-size: 40px;
    text-align: center;
}

.top-div {
    padding-top: 18vh;
    text-align: center;
    background: cornflowerblue;
    color: white;

    h1 {
        margin-top: 0;
        margin-bottom: .5em;
    }

    h2 {
        margin-top: 0;
    }

    h3 {
        padding-bottom: 5em;
    }

    img {
        margin-top: 2em;
        width: 250px;
    }
}

.large-icon {
    font-size: 50px;
    width: 50px;
}

.do-info {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
    h1 {
        margin-top: 0;
        margin-bottom: 1em;
        text-align: center;
    }

    .info-icon {
        display: flex;
        text-align: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        div {
            max-width: 500px;
            min-width: 300px;
            margin-left: auto;
            margin-right: auto;
            padding: 25px;
            padding-top: 50px;
        }
    }
}

.our-software {
    margin-left: auto;
    margin-right: auto;
    background: cornflowerblue;
    color: white;
    padding-top: 6em;
    padding-bottom: 8em;

    h1 {
        margin-top: 0;
        margin-bottom: 2em;
    }

    mat-card {
        max-width: 450px;
        margin: 10px;
    }

    mat-card-title {
        text-align: center;
    }

    mat-card-subtitle {
        text-align: center;
    }

    .software {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }
}