<div class="body">
    <div class="top-div mat-elevation-z2">
        <h1>OPeNDAP</h1>
        <h2>Advanced Software for Remote Data Retrieval</h2>

        <img src="../../../assets/images/extension-icon.png">

        <h3>OPeNDAP is a framework that simplifies<br>all aspects of scientific data networking.</h3>
    </div>

    <div class="do-info">
        <h1>What you can do with<br>OPeNDAP</h1>

        <div class="info-icon">
            <div>
                <mat-icon class="large-icon">dynamic_feed</mat-icon>
                <p>Transform your existing applications into OPeNDAP clients.</p>
            </div>
            <div>
                <mat-icon class="large-icon">cloud_queue</mat-icon>
                <p>Make your local data accessible to remote locations, regardless of local storage format.</p>
            </div>
            <div>
                <mat-icon class="large-icon">remove_shopping_cart</mat-icon>
                <p>Take advantage of our paid support, or implement it yourself for free.</p>
            </div>
        </div>
    </div>

    <div class="our-software mat-elevation-z2">

        <h1>Software</h1>

        <div class='software'>
            <mat-card>
                <mat-card-title>Hyrax</mat-card-title>
                <mat-card-subtitle>The next generation server from OPeNDAP</mat-card-subtitle>
                <mat-card-content>
                    Hyrax uses a modular design that employs a lightweight Java servlet to provide the public-accessible
                    client interface, and a back-end daemon, the BES, to handle the heavy lifting. The BES uses the same
                    handlers that are used with Server3 (also know as the CGI Server) but loads those at run time.
                </mat-card-content>
                <mat-card-actions>
                    <a routerLink="/hyrax">
                        <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                            <mat-icon>link</mat-icon>
                        </button>
                    </a>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-title>Libdap</mat-card-title>
                <mat-card-subtitle>C++ SDK that contains an implementation of DAP 2.0 and DAP4.0</mat-card-subtitle>
                <mat-card-content>
                    The libdap includes both Client- and Server-side support classes. Our software distributions are
                    signed
                    using a public/private key pair.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>