<div class="body">
    <div *ngIf="!fixVersion" id="welcome-dialog" class="welcome-dialog">
        <h1>Welcome to the OPeNDAP<br>New Release Template</h1>
        <h3>Select a FixVersion to get started.</h3>

        <mat-form-field>
            <mat-label>Fix Version</mat-label>
            <mat-select [(value)]="selectedValue">
                <mat-option *ngFor="let version of versions" [value]="version.name">
                    {{version.name | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <a *ngIf="selectedValue" routerLink="{{selectedValue}}">
            <button mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </a>
    </div>
</div>