<div class="body">
    <div id="form">
        <div *ngIf="!fixVersion" id="welcome-dialog" class="welcome-dialog">
            <h1>Welcome to the OPeNDAP<br>New Release Template</h1>
            <h3>Select a FixVersion to get started.</h3>

            <mat-form-field>
                <mat-label>Fix Version</mat-label>
                <mat-select [(value)]="selectedValue">
                    <mat-option *ngFor="let version of versions" [value]="version.id">
                        {{version.name | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-icon-button (click)="startTemplate()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>

        <div *ngIf="fixVersion">
            <div class="new-features-card">
                <h2>New Features</h2>

                <mat-card *ngFor="let thisFeature of newFeatures" class="new-feature-card">
                    <button mat-icon-button (click)="deleteNewFeature(thisFeature)" class="delete-button">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <form>
                        <mat-form-field class="full-width">
                            <input [(ngModel)]="thisFeature.title" name=thisFeature.title matInput placeholder="Title"
                                value="{{thisFeature.title}}" autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <textarea [(ngModel)]="thisFeature.body" name=thisFeature.body matInput
                                placeholder="Description" value="{{thisFeature.body}}" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                    </form>
                </mat-card>

                <button mat-icon-button class="center-button" (click)="addNewFeature()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div class="new-features-card">
                <h2>Bug Fixes</h2>

                <mat-card *ngFor="let thisBugFix of issues" class="bug-fix-card">
                    <form class="bug-fix-form">
                        <mat-form-field class="key-input">
                            <input [(ngModel)]="thisBugFix.key" name=thisBugFix.key matInput placeholder=""
                                value="{{thisBugFix.key}}" autocomplete="off">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <textarea [(ngModel)]="thisBugFix.summary" name=thisBugFix.summary matInput
                                placeholder="" value="{{thisBugFix.summary}}" cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                cdkAutosizeMaxRows="10"></textarea>
                        </mat-form-field>
                        
                        <button mat-icon-button class="bug-fix-button" (click)="updateDescription(thisBugFix)">
                            <mat-icon>save_alt</mat-icon>
                        </button>
                        
                        <button mat-icon-button class="bug-fix-button" (click)="deleteBugFix(thisBugFix)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </form>
                </mat-card>

                <button mat-icon-button class="center-button" (click)="addNewBugFix()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <button mat-fab color="primary" (click)="downloadData()" class="save-button">
        <mat-icon>save</mat-icon>
    </button>
</div>