.faq-section-body {
    margin: 5px;

    h2 {
        font-size: 20px;
        border-bottom: solid 1px lightgray;
        padding-bottom: .5em;
        margin-bottom: 1em;
        margin-top: 1.5em;
    }

    .mat-expanded {
        mat-panel-title {
            font-size: 25px;
            font-weight: 300;
        }

        mat-expansion-panel-header {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
}

pre {
    white-space: pre-wrap;

    code {
        width: 95%;
        padding: 1em;
    }
}

code {
    display: inline-block;
    background: whitesmoke;
}
