<div class="body">
    <h1>How can we help you?</h1>
    
    <app-faq-search *ngIf="data" [data]="data"></app-faq-search>

    <h1>Frequently Asked Questions</h1>
    <mat-accordion>
        <app-faq-section *ngIf="general" [sectionTitle]="'General'" [faqSection]="general"></app-faq-section>
        <app-faq-section *ngIf="clientIssues" [sectionTitle]="'Client Issues'"[faqSection]="clientIssues"></app-faq-section>
        <app-faq-section *ngIf="serverIssues" [sectionTitle]="'Server Issues'" [faqSection]="serverIssues"></app-faq-section>
        <app-faq-section *ngIf="developers" [sectionTitle]="'Developers'" [faqSection]="developers"></app-faq-section>
    </mat-accordion>
</div>