.body {
    padding-top: 50px;
    margin-bottom: 50px;
}

mat-card-title {
    margin-top: 1em !important;
    margin-bottom: 1.5em;
    font-weight: 400;
}

.bug-fix-form {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 0fr;
    grid-gap: 25px;
}

.full-width {
    width: 100%;
}

.key-input {
    max-width: 80px;
}


/** WELCOME DIALOG **/


#welcome-dialog h3 {
    border-bottom: none;
}

.welcome-dialog {
    text-align: center;
    width: 500px;
    margin-right: auto;
    position: fixed;
    margin-left: calc(50% - 250px);
    margin-top: 25vh;
    border-radius: 4px;
    text-align: center;
    padding: 20px 10px 50px 10px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}


/** CARDS **/


.bug-fix-card {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 1em;
}

.new-features-card {
    max-width: 900px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.new-feature-card {
    margin-bottom: 25px;
}


/** BUTTONS **/


.delete-button {
    position: absolute;
    right: -50px;
    color: gray;
}

.bug-fix-button {
    color: gray;
    margin-top: 1em;
}

.save-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
}

.center-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}