.dock {
    position: fixed;
    width: 100%;
    
    top: 0;
    padding-top: 4em;
    
    background: white;

    z-index: 2;

    mat-card {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        z-index: 15;
        overflow-x: auto;
        padding: .75em;
    }

    .mat-tab-nav-bar, .mat-tab-header {
      border-bottom: none;
    }

    .mat-tab-link {
      min-width: 50px;
      padding: 0 14px;
    }
}